/*
################################################################################
#                                                                              #
# ATLAS_Briefings                                                              #
#                                                                              #
################################################################################
#                                                                              #
# version: 2015-08-28T1557Z                                                    #
#                                                                              #
################################################################################
#                                                                              #
# LICENCE INFORMATION                                                          #
#                                                                              #
# This program is a style file.                                                #
#                                                                              #
# copyright (C) 2015 William Breaden Madden                                    #
#                                                                              #
# This software is released under the terms of the GNU General Public License  #
# version 3 (GPLv3).                                                           #
#                                                                              #
# This program is free software: you can redistribute it and/or modify it      #
# under the terms of the GNU General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)    #
# any later version.                                                           #
#                                                                              #
# This program is distributed in the hope that it will be useful, but WITHOUT  #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or        #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for     #
# more details.                                                                #
#                                                                              #
# For a copy of the GNU General Public License, see                            #
# <http://www.gnu.org/licenses/>.                                              #
#                                                                              #
################################################################################
*/

/* fonts */

@font-face{
   font-family: 'OswaldBold';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Oswald-Bold.ttf);
}
@font-face{
   font-family: 'OswaldLight';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Oswald-Light.ttf);
}
@font-face{
   font-family: 'OswaldRegular';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Oswald-Regular.ttf);
}
@font-face{
   font-family: 'cmtex10';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/cmtex10.ttf);
}
@font-face{
   font-family: 'comic';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/comic.ttf);
}
@font-face{
   font-family: 'Fixedsys500c';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Fixedsys500c.ttf);
}

html{
    background: #cccccc;
    font-family: OswaldRegular;
    height: 100%;
    font-size: 100%;
    /* force scrollbar in non-IE browser */
    overflow-y: scroll;
    /* prevent iOS text size adjust on orientation change without disabling user
     * zoom */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    text-align: justify;
    color: #333333;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    box-shadow: 0 0 18px rgba(0, 0, 0, .4);
    background: #f8f8f8;
    overflow: hidden;
    border-top: #0B80C3 3px solid;
    padding: 25px 50px;
}

body:before{
    background: #cccccc;
    position: absolute;
    top: 0;
    height: 10px;
    left: 0;
    width: 100%;
    content: "";
    margin: 0;
    padding: 0;
    z-index: 999999;
}

.content{
    margin: 0 auto;
    max-width: 694px;
}

body,
button,
input,
select,
textarea{
    color: #000000;
}

p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
form,
table,
fieldset,
menu,
h4,
h5,
h6,
img,
figure,
figcaption,
button,
hr,
header {
    /*margin: 0 0 1.5em;*/
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6{
    color: #0B80C3;
    font-size: 1em;
    font-weight: normal;
    text-shadow: 0px 1px 0px grey;
    padding: 0;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

h1{
    font-size: 26px;
    line-height: 48px;
}

h2{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}

h3{
    font-size: 21px;
    line-height: 24px;
}

h4{
    font-size: 18px;
    line-height: 24px;
}

h5{
    font-size: 16px;
    line-height: 24px;
}

h6{
    font-size: 12px;
    line-height: 12px;
}

small{
    /* font size: 10 px */
    font-size: 0.65em;
    margin: 0 0 1.5em;
}

/* preformatted text and code */

/* allow line wrapping of 'pre' */
pre{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* tables */

table{
    border-collapse: collapse;
    border-spacing: 0;
}

th{
    text-align: left;
}

tr,
th,
td{
    padding-right: 1.5em;
}

/* forms */

form{
    margin: 0;
}

fieldset{
    border: 0;
    padding: 0;
}

textarea{
    overflow: auto;
    vertical-align: top;
}

legend{
    *margin-left: -7px;
}

button,
input,
select,
textarea{
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input{
    line-height: normal;
    *overflow: visible;
}

button:active{
    position: relative;
    top: 2px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"]{
    box-sizing: border-box;
}

input[type="search"]{
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
    border: 0;
    padding: 0;
}

/* quotations */

blockquote,
q{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
    content: '';
    content: none;
}

blockquote,
q,
cite{
    color: #000000
}

blockquote{
    padding-left: 1.5em;
    border-left: 1px solid #000000;
}

blockquote > p{
    padding: 0;
}

/* lists */

ul,
ol{
    list-style-position: inside;
    padding: 0;
}

/* list element indentation */

li ul,
li ol{
    margin: 0 1.5em;
}

dl dd{
    margin-left: 1.5em;
}

/* links */

a,
a:visited{
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

a:hover{
    color: #dddddd;
    background-color: #000000;
    border-bottom: 1px solid #dddddd;
}

a:focus{
    outline: thin dotted;
}

/* outline suppression */
a:hover,
a:active{
    outline: none;
}

/* figures */

figure{
    margin: 0;
}

/* embedded content */

img,
object,
video{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

/* remove border when inside 'a' element in IE6/7/8/9, engage bicubic scaling of
 * images */
img{
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* overflow display fix for IE9 */
svg:not(:root) {
    overflow: hidden;
}

/* abbreviations */

abbr[title],
dfn[title]{
    border-bottom: 1px dotted;
    cursor: help;
}

/* marked/inserted/deleted text */

mark{
    background: #ff0;
}

ins{
    background: #ff9;
    text-decoration: none;
}

del{
    text-decoration: line-through;
}

/* others */

hr{
    border-bottom: 1px solid #aaa;
    display: block;
    height: 1px;
    border: 0;
}

/* position 'sub' and 'sup' without affecting line-height */
sub,
sup{
    font-size: 0.625em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup{
    top: -0.5em;
}

sub{
    bottom: -0.25em;
}

/* helper classes */

/* micro clearfix hack, more semantically titled with 'group' */
.group:before,
.group:after{
    content: "";
    display: table;
}

.group:after{
    clear: both;
}

.group{
    *zoom: 1;
}

/* primary styles */

.avatar{
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
}

.date{
    float: right;
    line-height: 64px;
    font-size: 1em;
    color: #000;
}

ul.tags{
    color: #000000;
    /* margin: 3em auto 0; */
    text-align: left;
}

ul.tags li{ 
    list-style: none;
    display: inline-block;
    margin-right: -0.1em;
}
  
ul.tags li a{
    color: #000000;
    background-color: #dddddd;
    border-bottom: 2 px;
    border-top: 2 px;
    border-left: 2 px;
    border-right: 2 px;
    display: block;
    /* padding: 0.2em 0.65em; */
    font-size: 1em;  
}
    
ul.tags li a:hover{
    background: #000000;
    color: #dddddd;
}

.author{
    width: 70%;
}

.articlepost{ 
    display: block;
    width: 100%;
    padding-top: 6em;
    padding-bottom: 5.5em;
}

#top-header,
#articles{
    position: relative;
    z-index: 99999;
}

#articles{
    color: #000000;
    background: #dddddd;
}

#articles h2 a{
    border: 0;
}
  
#articles h2 a:hover{    
    color: #dddddd
}

#top-header{
    background: #F5F5F2 no-repeat top center fixed;
    background-size: 100% auto;
    width: 100%;
    padding: 1em 0 4em;
    margin: 0;
    zoom: 1;
}

#main-header{
    text-shadow: 0px 1px 0px #ffffff;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
    clear: both;
    display: block;
}

#main-header h1{
    color: #333333;
    color: rgba(0,0,0,0.8);
    text-shadow: 0px 1px 0px #fff;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    letter-spacing: -1px;
    font-size: 96px;
    line-height: 96px;
}

#top-header:hover,
#top-header:hover h1{
    color: #0088cc;
}

#main-nav,
#main-header{
    text-align: left;
}

#main-nav{
    height: 4em;
}

#main-nav li{
    list-style: none;
    margin: 0 0.65em;
}

button,
a,
button:hover,
a:hover,
pre,
pre:hover,
#main-header,
#main-header:hover,
#top-header:hover h1,
ul.tags li a{
    -moz-transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

article{
    border-bottom: 1px solid #e5e5e5;
    clear: both;
    margin: 0;
    padding: 0;
}

article.archive{
    border: 0;
    padding: 0;
}

article.archive .archive-date{
    color: #999999;
    width: 20%;
    display: block;
    float: left;
    text-align: left;
    margin-right: 1em;
}
  
article.archive .archive-link{
    color: #333333;
    display: block;
    float: left;
    padding-bottom: 0em;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

article.archive .archive-link a{
    border: 0;
}

article.archive .archive-link a:hover{
    color: #000000;
    border-bottom: 3px solid #0088cc;
}
  
article.archive .archive-date-divider{
    color: #bbbbbb;
    float: right;
    font-size: 0.65em;
    margin-top: -2.3em;
}  

.archive-spacer{
    padding-top: 2.3em;
}

article.archive-devider{
    border-top: 1px solid #e5e5e5;
    padding-top: 3em;
    margin-top: 4em;
    border-bottom: 0px;
}

article.divider_0{
    margin-top: 0em;
    border: 0;  
}

.archive-foot{
    display: block;
    height: 5em;
}

.tag{
    margin: 3em;
}

pre{
    border-radius: 0.5em;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #F9F9F9;
    color: #000000;
    padding: 1.5em;
}

figure{
    float: left;
    margin-right: 3%;
    font-size: 0.625em;
    text-align: center;
}

footer{
    background: #333333;
    color: #717171;
    text-shadow: 0 -1px 0 #222222;
    border-top: 1px solid #111111;
    padding: 3em 0;
    overflow: hidden;
}

a.scriptogram-link{
    color: #999999
}

/* pagination */

.pagination{ 
    height:36px;
    margin:18px 0
}

.pagination ul{
    border:0px solid #dddddd;
    border:0px solid rgba(0,0,0,0.15);
    float:left;margin:0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.pagination li{
    display:inline
}

.pagination a{
    border-right-color:#dddddd;
    border-right-color:rgba(0,0,0,0.15);
    *border-right-color:#dddddd;
    border-right:1px solid;
    float:left;
    padding:0 14px;
    line-height:34px;
    text-decoration:none
}

.pagination a:hover{
    background-color:#f1f1f1
}

.pagination .active a{
    color: black
}

.pagination .disabled a,
.pagination .disabled a:hover{
    color:#bfbfbf
    background-color:transparent;
}

.pagination .next a{
    border:0
}

#social{
    opacity: 0.5;
    display: block;
    width: 166px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    -webkit-transition: opacity 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    -moz-transition: opacity 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    -o-transition: opacity 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
}

#social:hover{
    opacity: 1.0;
    -webkit-transition: opacity 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    -moz-transition: opacity 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    -o-transition: opacity 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
}

#social > *{
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#social > *:hover{
    cursor: pointer;
}

#social div.fb-like{
    width: 48px;
    margin-left: 15px;
    margin-right: 15px;
    height: 24px;
}

#social div.fb-like span{
    width: 48px !important;
}

#social div#___plusone_0{
    width: 32px;
}

#social .fb-like,
#social .fb_edge_widget_with_comment,
#social .fb_iframe_widget{
    height: 24px !important;
    margin-top: -2px !important;
    padding: 0 !important;
}

/* no border under administration link */
a[href*="/admin"]{
    border-bottom: 0;
}

/* media queries */

@media only screen and (max-width: 480px){

    body{
        width: 100%;
    }

    .content{
        width: 80%;
    }

    #main-nav ul{
        width: 100%;
    }

    #main-nav li{
        display: inline-block;
        list-style: none;
        margin: 1em 0.65em;
        font-size: 0.8em;
	}

    article.archive .archive-date{
        color: #999999;
        width: 80%;
        display: block;
        float: none;
        text-align: left;
    }

    article.archive .archive-link{
        display: block;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #main-nav, #main-header{
        text-align: center;
    }

    #main-header{
        margin: 0 0 2em;
    }

    #main-header h1 {
        font-size: 42px;
        line-height: 48px;
        letter-spacing: 0;
    }

    #top-header{
        background-size: 150% auto;
        padding-bottom: 2em;
    }

    ul.tags{
        margin: 0 auto;
        text-align: center;
    }

    ul.tags li{ 
        float: none;
        margin-right: -0.1em;
    }  
  
    footer{
        padding: 4em 0 8em; 
    }
  
    .date{
        display: block;
        text-align: center;
        float: none;
        position: relative;
        margin: 0 auto;
        margin-top: -1.6em;
    }

    .avatar{ 
        float: none;
        display: block;
    }

    .articlepost{ 
        padding: 0;
        clear: both;
        width: 100%;
        margin-right: 0;
        margin-bottom: 3em;
        border: 0;
    }

    h2{
        font-size: 24px;
        line-height: 36px;
        margin-top: 24px;
        margin-bottom: 0px;
        text-align: center;
    }

    .author{ 
        margin: 1em auto
    }

    article{
        margin: 0;
        padding: 1em 0;
    }

}

@media only screen and (min-width: 480px){

    body{
        width: 100%;		
    }

    .content{
        width: 80%;
    }

    #top-header{
        background-size: 100% auto;
        width: 100%;
        padding: 1em 0 4em;
        margin: 0;
        zoom: 1; 
    }

    .avatar{ 
        position: relative;
        margin: 1em auto 2em;
    }

    .author{ 
        margin: 1em auto
    }

    #main-header{
        margin: 6em 0 0;
    }

    #main-nav,
    #main-header{
        text-align: center;
    }

    #main-nav ul{
        margin-top: 1em;
    }
  
    #main-nav li{
        display: inline;
    }

}

@media only screen and (min-width: 1024px){

    body{
        width: 100%;
    }

    .avatar{
        margin: 0;
        float: right
    }

    #main-header{
        margin: 10em 0 0;
    }

    .author{
        margin: 1em 0 0
    }

    .content{
        width: 100%;
    }

    #main-nav,
    #main-header{
        text-align: left;
        padding-bottom: 1em
    }

    #main-nav{
        float: right;
        margin: 1em 2%;
    }

    #main-nav ul{
        margin-top: 0em;
    }

    #main-nav li{
        float: left;
    }

    button{
        width: 100%;
    }

}

@media only screen and (min-width: 1025px){ 

    #top-header{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;	
    }

}

/* print styles */

/* print styles inlined to avoid extra HTTP connection */

@media print {

    *{
        background: transparent !important;
        /* black prints quickly (sanbeiji.com/archives/953): */
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a,
    a:visited{
        text-decoration: underline;
    }

    a[href]:after{
        content: " (" attr(href) ")";
    }

    abbr[title]:after{
        content: " (" attr(title) ")";
    }

    /* do not show javascript and internal links */
    a[href^="javascript:"]:after,
    a[href^="#"]:after{
        content: ""; 
    }

	/* printing tables (css-discuss.incutio.com/wiki/Printing_Tables) */
    thead{
        display: table-header-group;
    }

    tr,
    img{
        page-break-inside: avoid;
    }

    @page{
        margin: 0.5cm;
    }

    p,
    h2,
    h3{
        orphans: 3;
        widows: 3;
    }

    h2,
    h3{
        page-break-after: avoid;
    }

}

/* list point formatting */

.img-rounded{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.img-polaroid{
    padding: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border:1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle{
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

/* tables */

/* left margin on pages */
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom
.container{
    width: 940px;
}
.container{
    margin-right: auto;
    margin-left:auto;
    *zoom: 1;
}
.container:before,.container:after{
    display: table;
    content: "";
    line-height: 0;
}

/* remove unnecessary border spacings */
table{
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing:0;
}

/* extend tables across the full page width, rather than limiting them to the
 * minimum size */
.table{
    width: 100%;
    margin-bottom: 21px;
}
.table th,
.table td{
    padding: 8px;
    line-height: 21px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

/* thin table top border */
.table caption+thead tr: first-child th,
.table caption+thead tr:first-child td,
.table colgroup+thead tr:first-child th,
.table colgroup+thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td{
    border-top: 0;
}

.table-bordered th,
.table-bordered td{
    border-left:1px solid #000000;
}

/* table alternating line colours */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th{
    background-color: #f9f9f9;
}

body{
    width: 940px;
    margin: 0 auto;
}

table{
    width: 100%;
    margin-bottom: 21px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing:0;
    /* table bordered */
    border:1px solid #000000;
    border-collapse:separate;
    *border-collapse:collapse;
    border-left:0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

strong{
    font-weight: bold;
}

th,
td{
    padding: 8px;
    line-height: 21px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #000000;
}

/* table alternating line colours */
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th{
    background-color: #f9f9f9;
}

/* deactivate line feed of tag p */
p{
    display:inline;
    margin-bottom:0;
}
