/*
################################################################################
#                                                                              #
# bluescale                                                                    #
#                                                                              #
################################################################################
#                                                                              #
# version: 2018-02-15T1817Z                                                    #
#                                                                              #
################################################################################
#                                                                              #
# LICENCE INFORMATION                                                          #
#                                                                              #
# This program is a style file.                                                #
#                                                                              #
# copyright (C) 2018 William Breaden Madden                                    #
#                                                                              #
# This software is released under the terms of the GNU General Public License  #
# version 3 (GPLv3).                                                           #
#                                                                              #
# This program is free software: you can redistribute it and/or modify it      #
# under the terms of the GNU General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)    #
# any later version.                                                           #
#                                                                              #
# This program is distributed in the hope that it will be useful, but WITHOUT  #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or        #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for     #
# more details.                                                                #
#                                                                              #
# For a copy of the GNU General Public License, see                            #
# <http://www.gnu.org/licenses/>.                                              #
#                                                                              #
################################################################################
*/

/* fonts */

@font-face{
   font-family: 'OswaldBold';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Oswald-Bold.ttf);
}
@font-face{
   font-family: 'OswaldLight';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Oswald-Light.ttf);
}
@font-face{
   font-family: 'OswaldRegular';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Oswald-Regular.ttf);
}
@font-face{
   font-family: 'cmtex10';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/cmtex10.ttf);
}
@font-face{
   font-family: 'comic';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/comic.ttf);
}
@font-face{
   font-family: 'Fixedsys500c';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Fixedsys500c.ttf);
}
@font-face{
   font-family: 'datalatin';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/data-latin.ttf);
}
@font-face{
   font-family: 'dataunifon';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/data-unifon.ttf);
}
@font-face{
   font-family: 'Meyrin';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/Meyrin.ttf);
}

@font-face{
   font-family: 'monof55';
   src: URL(https://cdn.rawgit.com/wdbm/style/master/fonts/monof55.ttf);
}

html{
    padding: 0;
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
    background: #114488;
    color: #EEEEEE;
}

body{
    padding: 0 1em 0 1em;
    margin: 0 0 1em 1em;
    border-left: 8px solid #EEEEEE;
    line-height: 1.5em;
}

a{
    color: #EEE;
}

ul{
    list-style-type: square;
}

pre{
    background: #EEEEEE;
    color: #000000;
    padding: 1.5em;
}

/* tables */

table{
    border-collapse: collapse;
    border-spacing: 0;
}

th{
    text-align: left;
}

tr,
th,
td{
    padding-right: 1.5em;
}

/* left margin on pages */
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom
.container{
    width: 940px;
}
.container{
    margin-right: auto;
    margin-left:auto;
    *zoom: 1;
}
.container:before,.container:after{
    display: table;
    content: "";
    line-height: 0;
}

/* remove unnecessary border spacings */
table{
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing:0;
}

/* extend tables across the full page width, rather than limiting them to the
 * minimum size */
.table{
    width: 100%;
    margin-bottom: 21px;
}
.table th,
.table td{
    padding: 8px;
    line-height: 21px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #EEEEEE;
}

/* thin table top border */
.table caption+thead tr: first-child th,
.table caption+thead tr:first-child td,
.table colgroup+thead tr:first-child th,
.table colgroup+thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td{
    border-top: 0;
}

.table-bordered th,
.table-bordered td{
    border-left:1px solid #EEEEEE;
}

/* table alternating line colours */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th{
    background-color: #EEEEEE;
}

table{
    width: 100%;
    margin-bottom: 21px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing:0;
    /* table bordered */
    border:1px solid #EEEEEE;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
}

th,
td{
    padding: 8px;
    line-height: 21px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

/* table alternating line colours */
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th{
    background-color: #366099;
}

/* figures */

figure{
    margin: 0;
}

figure{
    float: left;
    margin-right: 3%;
    font-size: 0.625em;
    text-align: center;
}

/* embedded content */

img,
object,
video{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    padding: 5px 5px 5px 5px;
}

/* others */

hr{
    border-bottom: 8px solid #EEEEEE;
    display: block;
    height: 1.5em;
    border: 0;
    color: #EEEEEE;
    background-color: #EEEEEE;
}

figure{
    float: left;
    margin-right: 3%;
    font-size: 0.625em;
    text-align: center;
}
